<div class="tooltip-wrapper" data-title="Dieser Link führt zu Google">
    <button onclick='StartMeeting("<%=videoMeetingLink %>", "<%=username %>")' id='btnStart' class="btn btn-lg btn-gradient-primary">Start Session</button>
</div>
<div class="placeholdertext">Please join the the session on time. You will have an option to set the video/audio setting to "on" or "off" before the session starts.</div>
<div class="placeholdertext">If your partner doesn't join the session then email us at <b>hello@codepartner.me</b>, and a member of our team will be your CodePartner.</div>
<div class="placeholdertext">For best performance, please use Chrome or Firefox</div>
<div class="containerr">
    <div id='jitsi-meet-conf-container'></div>
</div>