<option value = “js”>JavaScript</option>
<option value = “java”>Java</option>
<option value = “python”>Python </option>
<option value = “c”>C</option>
<option value = “cplus”>C++</option>
<option value = “chash”>C#</option>
<option value = “swift”>Swift</option>
<option value = “android”>Android</option>
<option value = “ios”>iOS</option>
<option value = “firebase”>Firebase</option>
<option value = “sql”>SQL</option>
<option value = “aws”>AWS</option>
<option value = “r”>R</option>
<option value = “golang”>Go Lang</option>
<option value = “php”>PHP</option>
<option value = “rust”>Rust</option>
<option value = “kotlin”>Kotlin</option>
<option value = “dart”>Dart</option>
<option value = “htmlcss”>HTML/CSS</option>
<option value = “solidity”>Solidity</option>
<option value = “ts”>TypeScript</option>
<option value = “reactjs”>React JS</option>
<option value = “nodejs”>Node JS</option>
<option value = “nextjs”>Next JS</option>
<option value = “nuxtjs”>Nuxt JS</option>
<option value = “vuejs”>Vue JS</option>