<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Awsom</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/logo-mini.png" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />
    <link rel="stylesheet" href="../../assets/css/elementsModal.css" />
    <script>var i = 0</script>
  </head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto text-center">
                        <h2>You are AWSOM</h2>
                        <div class="success-message text-center">
                            <img style = "width:150px;height:150px;margin-left: auto; margin-right: auto; display: block;" src="/assets/images/confirmation.png" class="card-img-absolute"/>
                            <div class="success-text">Your payment was successful.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>